/* TSOS.css */

/* body {
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 10   pt;
  font-weight: normal;
  font-style: normal;
} */

html {
  /* font-family: "Roboto", sans serif; */
  font-family: Roboto Condensed, sans-serif;
}

h1 {
  font-weight: 100 !important;
  font-size: 5.2rem !important;
  border-bottom: 1px solid black;
}

h6 {
  font-weight: 100 !important;
}

#header {
  
}

#header:after {
  content : "";
  display: block;
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 155px;
  opacity : 0.2;
  background-image: url('distrib/images/keyboard.png');
  /*background-size: cover;*/
  background-repeat: repeat;
  z-index: -1;
}

.background {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 75vh;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@-moz-keyframes rotate {
  from {-moz-transform:rotate(0deg);}
  to {  -moz-transform:rotate(360deg);}
}

/* https://stackoverflow.com/questions/7309110/css3-transition-on-a-background-image */
.background:after {
  content : "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  /* width: 100%;
  height: 100%; */
  width: 2000px;
  height: 2000px;
  margin-left: 5%;
  /* margin-right: 20%; */
  min-height: 1500px;
  opacity : 0.1;
  z-index: -1;
  background: #909193 url(distrib/images/spiral.jpg);
  background-size: cover;
  -webkit-animation-name: rotate;
  -webkit-animation-duration:300s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
  -moz-animation-name: rotate;
  -moz-animation-duration:200s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-timing-function:linear;
}

textarea {
  resize: none;
}

.container {
  max-width: none !important;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90% !important;
  }
}

#divConsole {
}

#display {
  background-color:#DFDBC3;
  border: 2px solid black;
  cursor: default;
}

#taHostLog {
  height: 10rem;
}

#sexydisplay {
  /* max-width: 150px; */
  font-size: .75em;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#displaycol {
  min-width: 560px;
}

#consolerow {
  min-width: 750px;
}

#tableCPU {
  font-family: Courier;
}

#tableMemory {
  font-family: Courier;
}

#tableReady {
  font-family: Courier;
}

td {
  width: 500px; /* lol */
  text-align: center;
}