/* TSOS.css */

body {
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 10   pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid black;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#divTaskBar {
  /*width: 875px;*/
  background: rgba(255,255,255,0.6);
}
#taskBar {
  font-size: 10px;
}
nav {
  font-size: 10px;
}

#divLog {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
}
#divLog textarea {
  font-family: Courier;
  width: 400px;
  font-size: 10px;
}
#divCPU {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
}
#tableCPU {
  background-color: white;
  font-family: Courier;
}
#tableCPU thead {
  background-color: rgba(0,0,0,.1);
}
#divMemory {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
}
#tableMemory {
  font-family: Courier;
}
#divConsole {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
}
#divUserProgramInput {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
}
#divReady {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
  min-width: 450px;
}
#tableReady {
  background-color: white;
  font-family: Courier;
}
#tableReady thead {
  background-color: rgba(0,0,0,.1);
}
#divUserProgramInput textarea {
  width: 90%;
  font-family: Courier;
}
#header {
  position: relative;
}
#header:after {
  content : "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.2;
  background-image: url('distrib/images/keyboard.png');
  /*background-size: cover;*/
  background-repeat: repeat;
  z-index: -1;
}

#btnReset {
  color: white;
}
#btnNextStep {
  color: white;
}

#tableCPU thead td {
  width: 45px;
}

.background {
  position: relative;
}
.background:after {
  content : "";
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity : 0.1;
  z-index: -1;
  background: #909193 url(distrib/images/spiral.jpg);
  background-size: cover;
}

label .label-header{
  color: black;
  font-weight: bold;
}

#beautiful {
  background-color: rgba(0,0,0,.2);
  border: 2px;
  border-radius: 5px;
  width: 450px;
  height: 550px;
}
#sexy {
  margin-left: auto;
  margin-right: auto;
  background: url('distrib/images/beautiful.png');
  background-size: cover;
  background-position-x: -50px;
  width: 400px;
  height: 500px;
}

.panel-header {
  color: black;
  font-weight: bold;
  margin-left: 40%;
}